div:hover {
  cursor: pointer;
}

div, div img {
  width: 50px;
  height: 50px;
  display: inline;
}

#inventory {
  max-height: 150px;
  max-width: 500px;
  overflow: auto;
  background-color: #9d8355;
  color: white;
}

#tools div:hover, #inventory div:hover {
  cursor: grab;
}
