<section id="tools">
  <h2>Tools</h2>
  <div>
    <img src="../assets/images/{{gieter.image}}" (click)="setActie(gieter, $event)" />
  </div>
  <div>
    <img src="../assets/images/{{schep.image}}" (click)="setActie(schep, $event)"/>
  </div>
</section>
<section id="inventory">
  <h2>Inventory</h2>
  <div *ngFor="let item of inventoryService.items">
    <img src="../assets/images/{{item.image}}"
         [alt]="item.description"
         (click)="setActie(item, $event)"
    />
  </div>
</section>
