section {
  background-color: #9d8355;
  padding: 1em;

  border: solid #9d8355 15px;
  color: white;
}

#currentShop div.shopItem, div img {
  width: 50px;
  height: 50px;
  display: inline;
}

#current img {
  width: 20px;
  height: 20px;
}

#current {
  font-weight: bold;
}

#current span {
  font-size: 1.5em;
}

.shopItem img {
  /*opacity: 0.5;*/
}

.shopItem:hover {
  cursor: grab;
}

#sellArea {
  display: block;
  height: 250px;
  width: 100%;
  color: white;
}

#sellArea {
  background-color: #9d8355;
  padding: 0.5em;
  margin-top: 1em;
  font-size: large;
}

#sellArea section {
  padding: 0px;
  height: 3vh;
  min-height: 80px;
}

#sellHeader {
  color: white;
}
