main {
  width: 90vw;
}

header {
  width: 90vw;
}

header section {
  display: flex;
  flex-direction: row;
}

nav:first-of-type {
  width: 70%;
  border: solid 1px black;
}

nav:nth-of-type(2) {
  width: 30%;
  border: solid 1px black;
}
