@media screen and (max-width: 500px) {
  main, header, footer {
    width: 90vw;
    min-width: 350px;
  }
}

@media screen and (min-width: 501px) {
  main, header, footer {
    width: 60vw;
    min-width: 350px;
  }
}



header h1 {
  background-color: #734021;
  color: white;
  border: solid black 20px;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

header section {
  display: flex;
  flex-direction: row;
  min-height: 45vh;
  border: solid black 20px;
  border-radius: 20px;
}

header, main, footer {
  margin-bottom: 1em;
}

header nav:nth-of-type(1) li {
  display: inline-block;
  max-width: 33%;
  width: 33%;
  text-align: center;
  border: solid transparent 15px;
  border-radius: 15px;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 5px;
}

header nav:nth-of-type(1) li:hover {
  background-color: green;
  color: white;
  cursor: pointer;
  border-color: green;
}

header nav:nth-of-type(1) li span {
  font-size: larger;
}

section nav:nth-of-type(1){
  width: 70%;
  background-color: black;
  color: white;
}

section nav:nth-of-type(2) {
  min-width: 40%;
}

main, footer {
  border: solid black 20px;
  border-radius: 20px;
}

nav app-shop {
  background-color: lightgray;
}

footer {
  background-color: #734021;
  color: white;
}
