@media screen and (max-width: 500px) {
  main, header, footer {
    width: 90vw;
    min-width: 350px;
  }
}

@media screen and (min-width: 501px) {
  main, header, footer {
    width: 60vw;
    min-width: 350px;
  }
}


header h1 {
  background-color: #9d8355;
  color: white;

  border: solid #9d8355 20px;
  border-image: url(../assets/images/ui/inventory_border.png);
  border-image-slice: 43 43 43 43;

  width: 100%;
  text-align: center;
}

header section {
  display: flex;
  flex-direction: row;
  min-height: 45vh;
}

header, main, footer {
  margin-bottom: 1em;
}

header nav:nth-of-type(1) li {
  display: inline-block;
  max-width: 33%;
  width: 33%;
  text-align: center;

  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 5px;
}

header nav:nth-of-type(1) li:hover {
  cursor: pointer;
}

header nav:nth-of-type(1) li span {
  font-size: larger;
}

section nav:nth-of-type(1){
  width: 70%;
  background-color: #9d8355;
  color: white;
}

section nav:nth-of-type(2) {
  min-width: 40%;
}

main, footer {
  border: solid black 20px;
  border-image: url(../assets/images/ui/inventory_border.png);
  border-image-slice: 43 43 43 43;
}

header section {
  border: solid black 20px;
  border-image: url(../assets/images/ui/inventory_border.png);
  border-image-slice: 43 43 43 43;
}

nav app-shop {
  background-color: #9d8355;
}

nav ul li {
  background-color: #9d8355;
  color: white;

  border: solid #9d8355 20px;
  border-image: url(../assets/images/ui/inventory_border.png);
  border-image-slice: 43 43 43 43;
}

footer {
  background-color: #9d8355;
  color: white;
}

.hidden {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
  display: none;
}

.show{
  display:block;
}

#modal-container {
  position:  fixed;
  top: 300px;
  left: 50%;
  width: 375px;
  background: white;
  margin-left: -187.5px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px black;
  z-index: 100;

  background-color: #9d8355;
  color: white;

  border: solid #9d8355 20px;
  border-image: url(../assets/images/ui/inventory_border.png);
  border-image-slice: 43 43 43 43;
}

#overlay {
  position: absolute;
  top: 0px;
  left:  0px;
  z-index:  99;
  background:  rgba(0,0,0,0.8);
  width:  100%;
  height: 100%;
}


@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
