<header>
  <!--<img src="../assets/images/header.jpg" />-->
  <h1>Magic Garden</h1>
  <nav>
    <ul>
      <li (click)="newGame()">
        New game
        <span class="material-icons">new_releases</span>
      </li>
      <li (click)="saven()">
        Save
        <span class="material-icons">save_alt</span>
      </li>
      <li>
        Share screenshot!
        <span class="material-icons" (click)="screenshot()">facebook</span>
        <span class="material-icons"></span>
      </li>
    </ul>
  </nav>
  <section>
    <nav>
      <app-inventory></app-inventory>
    </nav>
    <nav>
      <app-shop></app-shop>
    </nav>
  </section>
  <audio autoplay>
    <!--<source src="assets/medieval_theme.wav" type="audio/wav" />-->
  </audio>
</header>
<main>
  <app-plant></app-plant>
</main>
<footer>
  <app-achievement></app-achievement>
</footer>
