<section>
  <article id="currentShop">
    <h2>Shop</h2>
    <div id="current">
      <span>
        Current <img src="../assets/images/coinbag.png" />
        : {{ coinService.coins }}
      </span>
    </div>
    <div class="shopItem"
         *ngFor="let item of shopService.items"
         [style.background-color]="item.rarity.color"
         (click)="buy(item)">
      <span *ngIf="item.shopPersistent" class="material-icons">hourglass_empty</span>
      <img [src]="'../assets/images/' + item.image" />
    </div>
  </article>
  <article id="sellArea">
    <h2 id="sellHeader">Sell?</h2>
    <!--<section (click)="preSell()">-->
    <!--</section>-->
    <section (click)="preSell()">
      <div *ngIf="sellItem">
        <strong>Sell {{ sellItem.name }} for: {{ sellItem.verkoopprijs }}?</strong>
        <button class="btn btn-primary" (click)="sell()">
          Y
        </button>
        <button class="btn btn-danger" (click)="cancelSell()">
          N
        </button>
      </div>
    </section>
    <div *ngIf="soldItem">
      <strong>Recently sold:</strong>
      <img [src]="'../assets/images/' + soldItem.image">
      <h3 id="soldPrice">{{ soldItem.verkoopprijs }}</h3>
    </div>
  </article>
</section>
